/* Style pour le body */
body {
    background: #333;
    color: white;
    font-family: "Courier New";
}

/*layout */
.wrapper {
    width: 80%;
    margin: auto;
    background: #444;
    padding: 20px;
}

/* formulaire : on va remplacer les inlines du html */
.form-container {
    background: #222;
    padding: 15px;
}

/* Séparateur entre les lignes */
.row {
    margin-bottom: 10px;
    border-bottom: 1px dashed #999;
    padding-bottom: 5px;
}

/*style dorigine pour les inputs*/
input {
    padding: 5px;
}

/* champ de recherche style inline deplacer de html */
.search-field{
    background: #ffffcc;
    color: black;
}

/* LES BOUTONS  */
/* style commun de bouton */
.btn {
    border: 0;
    cursor: pointer;
}

/* Bouton ENREGISTRER */
.btn-add {
    background: blue;
    color: white;
    border: 0;
    padding: 10px;
}

/* Bouton supprimer*/
.btn-del {
    background: red;
    color: white;
    border: 0;
    padding: 5px;
}

#zone-m {
    color: yellow;
    font-weight: bold;
}

/* Bouton RAZ */
.btn-reset {
    background: transparent;
    color: white;
    border: 1px solid white;
    padding: 6px;
}

/* Tableau */
table {
    width: 100%;
    border-collapse: collapse;
}

td, th {
    border: 1px solid white;
    padding: 5px;
}


table tr td:first-child {
    color: orange;
}
