/* style pour le body */
body {
    background: #333;
    color: white;
    font-family: "Courier New";
}

.wrapper {
width: 80%;
margin: auto;
background: #444;
padding: 20px;
}

/* ligne du bas */
.row {
margin-bottom: 10px;
border-bottom: 1px dashed #999;
padding-bottom: 5px;
}

input {
padding: 5px;
}

/* bouton bleu */
.btn-add {
background: blue;
color: white;
border: 0;
padding: 10px;
}

.btn-del {
background: red;
color: white;
border: 0;
padding: 5px;
}

#zone-m {
color: yellow;
font-weight: bold;
}

table {
width: 100%;
border-collapse: collapse;
}

td, th {
border: 1px solid white;
padding: 5px;
}

table tr td:first-child {
color: orange;
}